/* .board {
  background-color: gray;
  background-size: 37px 37px;
  background-image: linear-gradient(to right, white 3px, transparent 3px),
    linear-gradient(to bottom, white 3px, transparent 3px);
} */
